.derecha {
    float: right;
    margin-right: 17px;
    text-decoration: none;
    color: white;
}

.izquierda {
    float: left;
    margin-left: 17px;
}

.head {
    background: linear-gradient(rgb(45, 109, 248), rgb(40, 61, 250));
    width: 100%;
    height: 60px;
    color: white;
}

=====================================================================